html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  ul {
    list-style: none;
  }

  a:link {
    text-decoration: none;
    color: inherit;
    cursor: auto;
  }

  a:visited {
    text-decoration: none;
    color: inherit;
    cursor: auto;
  }
}

$pink: #ff70d9;
$yellow: #ebff00;
$blue: #304571;
$black: #000000;
$white: #ffffff;

$mediaMaxWidth: 1248px;
$mediaBp1Width: 768px;
$mediaMinWidth: 360px;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

.pink {
  color: $pink;
}

.yellow {
  color: $yellow;
}

.learn_more_button {
  padding: clamp(7px, 1vw, 14px) 40px;
  font-size: clamp(1em, 100%, 22px);
  font-weight: 700;
  color: $black;
  background-color: $yellow;
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  width: 191px;
  cursor: pointer;
  color: $yellow;
  background-color: transparent;
  border: 2px $yellow solid;

  &.filled {
    color: $black;
    background-color: $yellow;
    border: none;
  }

  &:hover {
    opacity: 0.6;
  }
}

.title {
  display: inline-block;
  font-size: calc(4ch + 1vw);
  max-width: 80%;
  line-height: 100%;
  word-wrap: break-word;
  margin: 0;

  @media (max-width: $mediaBp1Width) {
    font-size: calc(3ch + 2vw);
  }
}

.subtitle {
  font-size: calc(2ch + 1vw);
  line-height: 100%;

  @media (max-width: $mediaBp1Width) {
    font-size: calc(1ch + 1vw);
  }
}

.tile_content {
  @include flex-column;
  flex: 1 1 auto;
  justify-content: center;
  height: 100%;
  padding-left: 1em;
  padding-bottom: 2em;
  max-width: 690px;

  @media (max-width: $mediaBp1Width) {
    justify-content: end;
  }
}

#root {
  background-color: #304571;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;

  .app {
    @include flex-column;
    margin: 0 auto;
    color: $white;

    .header {
      @include flex-column;

      .header_nav {
        background-color: $black;

        .header_nav_content {
          @include flex-align-center;
          padding: clamp(1em, 2vw, 4em);
          justify-content: space-between;
          min-height: 48px;
          max-height: 80px;

          .header_logo {
            height: 100%;
            width: 105px;

            @media (max-width: $mediaMinWidth) {
              width: 71px;
            }
          }

          .header_menu {
            @include flex-align-center;

            gap: 2em;

            .nav_link {
              color: $white;
              &:hover {
                background-image: linear-gradient(55deg, $yellow, $pink);
                color: transparent;
                background-clip: text;
              }
            }

            .cart_logo {
              &:hover {
                svg > path {
                  fill: url('#cart_gradient');
                }
              }
            }
          }

          .burger_menu {
            display: none;
            .burger_menu_button {
              all: unset;
              cursor: pointer;
            }
          }

          @media (max-width: $mediaMinWidth) {
            .header_menu {
              display: none;
            }
            .burger_menu {
              display: flex;
              position: relative;

              .burger_menu_button {
                display: inline-block;
              }

              .burger_menu_content {
                display: flex;
                background-color: $blue;
                position: absolute;
                top: 40px;
                right: 0px;
                width: 120px;

                > .header_menu {
                  display: flex;
                  flex-direction: column;
                }
              }
            }
          }
        }
      }

      .header_banner {
        background-image:
          url('./assets//EARTH.svg'), url('./assets/Rectangle\ 39610.svg');
        background-size: clamp(300px, 48%, 350px), cover;
        background-position-x: right, center;
        background-position-y: center, center;
        background-repeat: no-repeat;
        height: 555px;
        @include flex-align-center;

        .tile_content {
          justify-content: center;
        }

        @media (max-width: $mediaBp1Width) {
          background-position-x:
            right -70px,
            center;
        }

        @media (max-width: $mediaMinWidth) {
          height: 451px;
          background-position-y:
            top -120px,
            center;
          background-position-x: center;
          display: flex;
          text-align: center;

          .tile_content {
            align-items: center;
            justify-content: end;
            padding-bottom: 2em;
          }
        }
      }
    }

    .main {
      @include flex-column;
      padding: clamp(1em, 2vw, 4em);
      gap: clamp(1em, 2vw, 2em);

      .main_tiles {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;

        .tile {
          @include flex-column;
          flex: 1 1 calc(50% - 1em);
          height: 350px;
          border-radius: 10px;

          background-position-x: center;
          background-position-y: center;
          background-repeat: no-repeat;

          &.tile-0 {
            background-image:
              linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url('./assets/tile-0.svg');
          }
          &.tile-1 {
            background-image:
              linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url('./assets/tile-1.svg');
          }
          &.tile-2 {
            background-image:
              linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url('./assets/tile-2.svg');
          }
          &.tile-3 {
            background-image:
              linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url('./assets/tile-3.svg');
          }

          @media (min-width: $mediaBp1Width) {
            &:first-child,
            &:last-child {
              flex: 1 1 100%;
              background-size: cover;
            }
          }

          @media (max-width: $mediaBp1Width) {
            align-items: flex-end;
          }
        }
      }

      .main_description {
        @include flex-column();
        font-weight: 500;

        .hidden_content,
        .secret_agent {
          display: none;
        }

        .read_more_button {
          font-size: clamp(1em, 100%, 20px);
          font-weight: 800;
          &:hover {
            opacity: 0.6;
          }
        }

        &:has(.secret_agent:checked) {
          .hidden_content {
            display: inline;
          }
        }
      }
    }

    .footer {
      height: 127px;
      @include flex-column;
      align-items: center;
      background-color: $black;
    }
  }
}
